<header id="surv-home-header">
  <h1>
    Apple Surveys
  </h1>
  <%= link_to 'Create New Survey', new_survey_path, class: 'surv-btn', id: 'surv-create-new' %>
  <p>
    (Using demo user: <%= @user.name_first %> <%= @user.name_last %>)
  <p>
</header>
<hr>
<main id="surv-home">
  <%= render 'survey_responses/table' %>
</main>
