@import "./vars.scss";
.surv-form {
  display: grid;
  place-items: center;
  #error_explanation {
    width: 100%;
  }
  fieldset {
    width: 100%;
    border: none;
    padding: 5px 0 15px;
    .field_with_errors {
      input, textarea {
        outline: 1px solid red;
      }
    }
    label {
      padding: 0 0 5px 0;
      display: inline-block;
    }
    input[type="text"], textarea {
      width: 100%;
    }
  }
  .surv-input-field {
    border: 1px solid $gray-verylight;
    padding: 0 25px;
    height: 48px;
    border-radius: 3px;
    font-size: 13px;
  }
}
#surv-form-answer {
  grid-row-gap: 20px;
  grid-template-columns: 60px 60px auto;
  margin: 15px 0 15px 0;
  .surv-radio {
    padding: 0 20px 0 0;
  }
  .surv-submit {
    place-self: self-end;
  }
  label, input {
    cursor: pointer;
  }
}
#surv-form-edit {
  grid-auto-rows: min-content;
  #surv-question {
    padding: 16px 25px;
    min-height: 80px;
  }
}