@import "./vars.scss";
::placeholder {
  color: $gray-light;
}
body {
  @extend .font-default;
  max-width: $break-1;
  min-width: 320px;
  margin: 40px auto 0 auto;
  background: #F0F0F0;
  color: #444444;
  * {
    box-sizing: border-box;
  }
}
h1 {
  margin: 10px 0;
  font-size: 35px;
}
.surv-btn {
  width: 150px;
  height: 48px;
  border: none;
  border-radius: 3px;
  align-self: center;
  background: $green-light;
  color: white;
  padding-top: 2px;
  box-shadow: 0px -1px 0px #6d6d6d inset;
  font-size: 12px;
  font-weight: bold;
  @extend .font-default;
  @media screen and (max-width: $break-1) {
    width: 77px;
  }
}
a.surv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
}