.surv-table {
  border-spacing: 0px;
  width: 100%;
  background: #f5f5f5;
  tr {
    border-bottom: 1px solid black;
  }
  td, th {
    padding: 10px;
    &.surv-item-edit {
      width: 30px;
      text-align: center;
    }
    &.surv-item-yes, &.surv-item-no {
      text-align: center;
    }
  }
  td {
    &:nth-child(2) {
      width: 50%;
    }
  }
}
#surv-response-table {
  margin: 0 0 15px 0;
}